<ul class=entries>
    <li>
        <h2>Pridėti puslapį</h2>
        <form action="/prideti" method="post">  
          <label>Pavadinimas:</label> <input type="text" name="pav"/><br />
          <label>Turinys:</label> <textarea name="tur"></textarea><br />
          <input type="submit" value="Pridėti"/>  
        </form>
    </li>
</ul>