<!doctype html>
<title><%= @appname %></title>
<link rel=stylesheet type=text/css href="/css/style.css">
<div class=page>
  <h1><a href="/">Puslapis Ruby</a></h1>
  <div class=metanav>
    <a href="/prideti">Prideti</a>
  </div>
  <%= yield %>  
</div>